<div class="row">
  <div class="col-auto">
    <h2>Welcome {{user}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Chat:</h3>

    <form class="form new-chat-form">
      <div class="form-group">
        <label for="chat-name">Chat name:</label>
        <input class="form-input" type="text" id="chat-name" name="chat-name" />
      </div>
      <div class="form-group">
        <label for="chat-prompt">Chat Prompt:</label>
        <textarea class="form-input" id="chat-question" name="chat-prompt"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
  {{#if chatgpts.length}}
  <div class="col-md-6 chat-list">
    <h3>Current Chats:</h3>

    {{#each chatgpts as |chatgpt|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/chat/{{chatgpt.id}}">{{chatgpt.chat_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{chatgpt.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


<script src="./js/dashboard.js"></script>
